<div class="topbar">
  <div class="topbar-left">
    <button class="menu-button" (click)="onMenuButtonClick()">
      <i class="pi pi-bars"></i>
    </button>
    <a routerLink="/" class="logo">
      <i class="pi pi-box"></i>
      <span class="logo-text">UI Components</span>
    </a>
  </div>

  <div class="topbar-right">
    <a href="https://github.com" target="_blank" class="topbar-link" title="GitHub">
      <i class="pi pi-github"></i>
    </a>
    <a href="#" class="topbar-link" title="Documentation">
      <i class="pi pi-book"></i>
    </a>
    <button class="theme-toggle" title="Toggle Dark Mode">
      <i class="pi pi-moon"></i>
    </button>
  </div>
</div>
